*~
client/libs
client/images
client/videos
server/db-init/pre-upgrade_*.sql
server/db-init/post-upgrade_*.sql
server/db-init/football.db
docs/**/*.aux
docs/**/*.fdb_latexmk
docs/**/*.fls
docs/**/*.out
docs/**/*.synctex.gz
docs/**/*.toc
docs/**/*.log
docs/**/*.pdf
docs/**/*.vscodeLog
docs/version.inc
node_modules
data
keys
.DS_Store
npm-debug.log
.vscode/launch.json
release.info
release.sh
