*~
client/libs
docs/**/*.aux
docs/**/*.fdb_latexmk
docs/**/*.fls
docs/**/*.out
docs/**/*.synctex.gz
docs/**/*.toc
docs/**/*.log
docs/**/*.pdf
docs/**/*.vscodeLog
docs/version.inc
node_modules
data
keys
.DS_Store
npm-debug.log
.vscode/launch.json
release.info
